apiVersion: v1
kind: Namespace
metadata:
  name: apps
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: http-echo
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: http-echo
  template:
    metadata:
      labels:
        app: http-echo
    spec:
      containers:
      - name: http-echo
        image: hashicorp/http-echo
        args: ["-text=Hello-RevengAI-Test"]
        ports:
        - containerPort: 5678
        resources:
          limits:
            memory: "128Mi"
            cpu: "200m"
          requests:
            memory: "64Mi"
            cpu: "100m"
        livenessProbe:
          httpGet:
            path: /
            port: 5678
          initialDelaySeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: echo-service
  namespace: apps
spec:
  type: NodePort # Changed from LoadBalancer
  selector:
    app: http-echo
  ports:
    - port: 80
      targetPort: 5678
      nodePort: 30000 # kind 8989
